<div class="grid grid-cols-3 w-full max-w-[1120px] gap-9 mx-auto -m-[50px]">
    <div class="w-full bg-slate-950 rounded-md px-7 py-8 ">
        <div class="flex justify-between px-3 ">
            <p class="text-slate-50 text-lg">Entradas</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#00b37e" viewBox="0 0 256 256">
                <rect width="256" height="256" fill="none"></rect>
                <circle cx="128" cy="128" r="96" fill="none" stroke="#00b37e" stroke-miterlimit="10" stroke-width="16">
                </circle>
                <polyline points="94.1 121.9 128 88 161.9 121.9" fill="none" stroke="#00b37e" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16"></polyline>
                <line x1="128" y1="168" x2="128" y2="88" fill="none" stroke="#00b37e" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16"></line>
            </svg>
        </div>
        <div class="px-3">
            <h2 class="text-3xl text-slate-50"> R$ 0000</h2>
        </div>
    </div>
    <div class="w-full  bg-slate-950 rounded-md p-7">
        <div class="flex justify-between px-3 ">
            <p class="text-slate-50 text-lg">Saida</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#f75a68" viewBox="0 0 256 256">
                <rect width="256" height="256" fill="none"></rect>
                <circle cx="128" cy="128" r="96" fill="none" stroke="#f75a68" stroke-miterlimit="10" stroke-width="16">
                </circle>
                <polyline points="94.1 134.1 128 168 161.9 134.1" fill="none" stroke="#f75a68" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16"></polyline>
                <line x1="128" y1="88" x2="128" y2="168" fill="none" stroke="#f75a68" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16"></line>
            </svg>
        </div>
        <div>
            <h2 class="text-3xl text-slate-50 px-3"> R$ 0000</h2>
        </div>
    </div>
    <div class="w-full  bg-slate-950 rounded-md p-7">
        <div class="flex justify-between px-3 ">
            <p class="text-[#59DEA4]">Total</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fff" viewBox="0 0 256 256">
                <rect width="256" height="256" fill="none"></rect>
                <line x1="128" y1="24" x2="128" y2="232" fill="none" stroke="#fff" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="16"></line>
                <path d="M184,88a40,40,0,0,0-40-40H108a40,40,0,0,0,0,80h44a40,40,0,0,1,0,80H104a40,40,0,0,1-40-40"
                    fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
            </svg>
        </div>
        <div>
            <h2 class="text-3xl text-slate-50 px-3"> R$ 0000</h2>
        </div>
    </div>
</div>