<div class="flex gap-2 max-w-[1120px] mx-auto px-10 md:px-0 w-full mt-[6rem]">
    <input class="w-full border-2 p-2 rounded-md" type="text" name="" id="" placeholder="Busque uma transação">
    <button
        class="bg-indigo-500 hover:bg-indigo-700 transition duration-75 text-white font-bold py-2 px-4 rounded flex gap-1 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256">
            <rect width="256" height="256" fill="none"></rect>
            <circle cx="116" cy="116" r="84" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16"></circle>
            <line x1="175.4" y1="175.4" x2="224" y2="224" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="16"></line>
        </svg>
        Buscar
    </button>
</div>